{% extends "base-landing.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container">
        <div>
            <h1>{% trans "Sign Up" %}</h1>

            <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p>
        </div>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <div>
                                
                                {% if form.errors %}
                                {% for field in form.visible_fields %}
                                <p class="label label-danger">
                                    
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                </p>

                                {% endfor %}
                                {% endif %}
                            </div>
                            <form class="signup user" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                <!--
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                -->
                                <div class="form-group">
                                    <!--
                                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                    -->
                                    <input type="text" name="username" class="form-control form-control-user"
                                        placeholder="Username" {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %} maxlength="150" minlength="1" id="id_username" required=""
                                        autofocus="autofocus">
                                </div>
                                <div class="form-group">
                                    <!--
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                    -->
                                    <input type="email" name="email" class="form-control form-control-user" {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %} placeholder="E-mail address"
                                        id="id_email" required="">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!--
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                                            placeholder="Password">
                                        -->
                                        <input type="password" name="password1" class="form-control form-control-user"
                                            placeholder="Password" id="id_password1" required="">
                                    </div>
                                    <div class="col-sm-6">
                                        <!--
                                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"
                                            placeholder="Repeat Password">
                                        -->
                                        <input type="password" name="password2" class="form-control form-control-user"
                                            placeholder="Password (again)" id="id_password2" required="">
                                    </div>
                                </div>

                                {% if redirect_field_value %}
                                <div class="form-group row">
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                </div>
                                {% endif %}
                                <!--
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>
                                -->
                                <button type="submit" class="btn btn-primary btn-user btn-block">{% trans "Register Account" %}</button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{{ login_url }}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>{% trans "Sign Up" %}</h1>

            <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}