/** styles.css **/


.main-content {
    margin-top: 75px;
    margin-bottom: 10px;
}

/** Login **/
form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.bg-register-image {
    background: url("../img/bg-register-image.jpg");
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .main-content {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 991px) {
    .main-content {
        margin-top: 60px;
    }
}